/* General styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7rem;
}

a {
  color: white;
  text-decoration: none;
  color: lightgrey;
}

.btn {
  background-color: rgb(89, 84, 240);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

/* top part */
.navigation {
  background-color: rgba(4, 19, 51, 0.968);
  color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation p span {
  color: orange;
}

.lower-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 70px;
  gap: 30px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  font-size: 1.2rem;
}

.top-nav nav {
  display: flex;
  gap: 20px;
}

header {
  text-align: left;
  margin: 30px 0;
}

header p {
  line-height: 1.5rem;
}

header * {
  margin: 10px 0;
}

.lower-content img {
  width: 400px;
}

/* dealing with upper showcase */
main .sentence {
  font-weight: bolder;
  margin: 10px;
  padding-top: 30px;
}

.boxes {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 60px;
}

.boxes img {
  width: 120px;
  height: 80px;
}

/* showcase */
.showcase {
  background-color: lightgray;
  text-align: left;
  padding: 40px 70px;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 100;
}

.showcase .quote {
  text-align: right;
  font-weight: bold;
}

/* lowershowcase */
.lower-showcase {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 40px;
  align-items: center;
  background-color: rgb(89, 84, 240);
  color: white;
  margin: 40px 60px;
  font-size: 0.9rem;
}

.lower-showcase .btn {
  border: 1px solid white;
}

/* footer */
footer {
  background-color: rgba(4, 19, 51, 0.968);
  color: white;
  padding: 10px;
}
